body{
    width: 600px;
    border: black solid 1px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    .imgLogo{
        display: flex;
        justify-content: center;
    }
    hr{
        width: 75%;
        margin: 0 auto;
    }
}

header{
    text-align: center;
    margin-top: 50px;
    h2{
        font-size: 25px;
        font-weight: 900;
    }
    p{
        font-size: 17px;
    }
}
.presDW{
    img{
        opacity: 0.4;
        margin-bottom: 15px;
    }
    a{
        background-color: #419BF9;
        text-decoration: none;
        color: #fff;
        padding: 10px 15px;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 230px;
        font-weight: 700;
    }
}

section{
    display: flex;
    margin-top: 30px;
    .front{
        // border: solid red 1px;
        padding: 30px 10px;
        margin-left: 30px;
        h3{
            font-weight: 800;
            font-size: 25px;
            margin-bottom: 10px;
        }
        p{
            font-size: 18px;
        }
    }
    .back{
        // border: solid red 1px;
        padding: 30px 10px;
        width: 50%;
        margin-left: 130px;
        h3{
            font-weight: 800;
            font-size: 25px;
            margin-bottom: 10px;
        }
        p{
            font-size: 18px;
        }
    }
    span{
        margin-left: 30px;
        margin-top: 20px;
    }
    .connection{
        text-align: center;
        a, p{
            color: #28B3E8;
        }
        p{
            font-size: 18px;
        }
    }
}
footer{
    background-color: #e4dada7a;
    margin-top: 30px;
    text-align: center;
    .imgSm{
        display: flex;
        justify-content: space-around;
        margin: 30px 0;
    }
    img, p{
        margin: 20px 0;
    }
}